// Colors variables
$color-primary: #0049dc;
$color-secundary: #e3651d;
$color-secundary-dark: #6a2f0a;
$color-tertiary: #ffb833;
$color-tertiary-dark: #a7781f;

$color-blue-dark-1: #2d4b86;
$color-blue-dark-2: #2e3d5c;
$color-blue-dark-3: #2b2d33;

$color-blue-dark: #062a4d;
$color-blue: #0d5ba3;
$color-pink: #ff00b2;
$color-pink-dark: #7a0054;
$color-green: #00ff00;
$color-green-dark: #006600;

$color-red: #a30d0d;
$color-success: #00ff73;
$color-light-gray: #585858;

$color-dark-gray: #111;
$color-background-blue: #222833;
$color-white: #fff;
$color-black: #000;
